<div class="container text-center my-3">
    <div class="jumbotron bg-dark">
        <h1 class="text-white">USER ERROR SIGNUP</h1>

        <button class="btn btn-warning my-5" onclick="location.href='/'">VOLVER</button>
    </div>
</div>